* {
    margin: auto;
}

body {
    background-color: #EFADC3FF;
}

.container {
    display: flex;
    overflow: hidden;
    justify-content: center;
    margin-top: 100px;
    width: 400px;
    height: 500px;
    box-shadow: 3px 3px 10px 0 #505050;
    background-color: #fcfdfd;
}

.slide-line {
    display: flex;
    width: 1200px;
    height: 500px;
    position: relative;
    transition: all .10s ease;
}

.footer_Cont_decoration {
    display: flex;
    margin-top: -15px;
    height: 10px;
    width: 200px;
    border-radius: 2px;
    background-color: #EBE9E8FF;
}

.content_css {
    margin-left: 400px;
    transition: all 1s ease;
}

.content_js, .content_html, .content_css {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    flex-direction: column;
}


.text_decoration {
    display: flex;
    margin-top: 50px;
    height: 10px;
    border-radius: 5px;
    background-color: #DCDCDCFF;
}

.short-line {
    width: 100px;
}

.long-line {
    width: 200px;
}


.footer_Cont_bar {
    display: flex;
    margin-top: 80px;
    height: 1px;
    width: 400px;
    background-color: #c5c3c3;
}

.img_button {
    display: flex;
    margin-top: -110px;
    cursor: pointer;
    height: 100px;
    width: 400px;
    padding-top: 10px;
    justify-content: space-around;
}

.button_html {
    transition: all 600ms ease;
    filter: contrast(200%);
    transform: scale(1.20);
}

.button_passive, .button_css, .button_js {
    transition: all 600ms ease;
    transform: none;
    filter: contrast(10%);
}

.button_active {
    transition: all 600ms ease;
    filter: contrast(200%);
    transform: scale(1.20);
}


