* {
    margin: auto;
}

.container {
    display: flex;
    overflow: hidden;
    justify-content: center;
    margin-top: 100px;
    width: 400px;
    height: 500px;
    box-shadow: 3px 3px 10px 0 #505050;
    background-color: #fcfdfd;
}

.slide-line {
    display: flex;
    width: 1200px;
    height: 500px;
    position: relative;
    transition: all ease 1s;
}

.footer_Cont_decoration {
    display: flex;
    margin-top: -15px;
    height: 10px;
    width: 200px;
    border-radius: 2px;
    background-color: #EBE9E8FF;
}

.content_html {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    flex-direction: column;
}

.content_css {
    display: flex;
    margin-top: 100px;
    margin-left: 400px;
    justify-content: center;
    flex-direction: column;
}

.content_js {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    flex-direction: column;
}

.text_decoration1 {
    display: flex;
    margin-top: 50px;
    height: 10px;
    width: 200px;
    border-radius: 5px;
    background-color: #DCDCDCFF;
}

.text_decoration2 {
    display: flex;
    margin-top: 50px;
    height: 10px;
    width: 100px;
    border-radius: 5px;
    background-color: #DCDCDCFF;
}

.footer_Cont_bar {
    display: flex;
    margin-top: 80px;
    height: 1px;
    width: 400px;
    background-color: #c5c3c3;
}

.img_button {
    display: flex;
    margin-top: -110px;
    cursor: pointer;
    height: 100px;
    width: 400px;
    padding-top: 10px;
    justify-content: space-around;
}

.button_passive, .button_html, .button_css, .button_js {
    transform: none;
    filter: contrast(10%);
}

.button_active {
    filter: contrast(200%);
    transform: scale(1.20);
}

.content_css {
    transition: all 1s ease;
}

.content_css.move {
    left: 400px;
    transform: translate(-400px, 0);
}

.img_html {
    background-image: url("../img/html-icon.png");
    background-repeat: no-repeat;
}

.img_css {
    background-image: url("../img/css-icon.png");
    background-repeat: no-repeat;
}

.img_js {
    background-image: url("../img/js-icon.png");
    background-repeat: no-repeat;
}

